#experiences {
    padding: 2rem;
}

.experiences-content {
    max-width: 1110px;
    margin: 0 auto;
}

.experiences-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0;
    text-align: left;
}

.experiences-divider {
    border: none;
    border-top: 4px solid var(--background-secondary);
    margin: 10px 0 20px 0;
    width: 60px;
}

.experiences-list {
    list-style: none;
    padding: 0;
}

.experience-item {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.exp-header {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.exp-icon {
    font-size: 1.8rem;
    color: var(--color-palette-02);
}

.exp-title {
    margin: 0px;
}

.exp-subtitle {
    font-size: 0.8rem;
    margin: 5px 0px;
}

.exp-duration {
    font-size: 0.75rem;
    color: var(--background-secondary);
    margin-top: 5px;
    margin-bottom: 0px;
}

.exp-description {
    font-size: 1rem;
    text-align: justify;
    padding: 10px;
    margin: 0px;
}

.exp-button {
    background-color: transparent;
    color: var(--background-secondary);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.exp-button:hover {
    background-color: var(--background-secondary);
    color: var(--background-primary);
}

.exp-divider {
    border: none;
    border-top: 1px solid var(--background-secondary);
    margin-top: 50px;
    width: 50%;
    margin-bottom: -10px;
}

ul, ol {
    list-style-type: none;
}

@media (max-width: 768px) {
    .experience-item {
        margin-bottom: 30px;
    }
}