.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--background-header);
    z-index: 10;
    box-sizing: border-box;
}

.header-logo {
    font-size: 24px;
    margin: 0px;
    margin-left: 40px;
    color: var(--color-primary);
    font-family: 'Antonio', sans-serif;
    text-decoration: none;
}

.header-nav {
    list-style: none;
    display: flex;
    position: relative;
}

.nav-option {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 35px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

.nav-option:hover {
    color: var(--color-button-header);
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-secondary);
}

/* Estilos para Mobile */
@media (max-width: 768px) {
    .header {
        margin-top: 0px;
    }

    .header-logo {
        margin-left: 20px;
    }

    .menu-toggle {
        display: block;
        margin-right: 10px;
        color: var(--color-primary);
    }

    /* Menu dropdown animado */
    .header-nav {
        position: absolute;
        top: 55px;
        right: 0px;
        width: 135px;
        background-color: #202020;
        overflow: hidden;
        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .header-nav.open {
        opacity: 1;
        transform: scaleY(1);
        margin-top: 5px;
        z-index: 100;
    }

    .header-nav ul {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .nav-option {
        font-size: 1rem;
        padding: 12px 20px;
        text-align: left;
        width: 100%;
        background: none;
        border: none;
        color: var(--color-secondary);
        transition: background 0.3s;
    }

    .separate-option {
        border-bottom: 1px solid var(--color-secondary);
    }
}