.divider-about {
    border: none;
    border-top: 4px solid var(--background-secondary);
    margin: 10px 0 10px 0;
    width: 5%;
    display: flex;
}

.about-section {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.about-content {
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: left;
    color: #ffffff;
}

.about-image-container {
    flex: 1;
    min-width: 150px;
    max-width: 250px;
    margin-right: 30px;
}

.about-image {
    width: 100%;
}

.about-text-container {
    flex: 2;
    min-width: 300px;
}

.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-primary);
    margin: 0 0 0 0;
}

.divider-about {
    border: none;
    border-top: 4px solid var(--background-secondary);
    margin: 0 0px 5px 0px;
    width: 60px;
}

.about-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 15px 0;
    color: #8b8b8b;
    text-align: justify;
}

.about-text-bold {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 15px 0;
    color: #b1b0b0;
}

/* Responsivo para dispositivos menores */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-title {
        font-size: 2rem;
    }

    .about-text {
        font-size: 1rem;
    }
}
