#projects {
  padding: 2rem;
}
  
.projects-content {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}
  
.projects-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--color-primary);
  margin: 0 0 0 0;
  text-align: left;
}
  
.projects-divider {
  border: none;
  border-top: 4px solid var(--background-secondary);
  margin: 0 0px 8px 0px;
  width: 60px;
}

.projects-toggle-container {
  display: flex;
  justify-content: flex-end;
}

.projects-toggle-button {
  background-color: transparent;
  border: none;
  color: var(--color-secondary);
  cursor: pointer;
}

.projects-toggle-button:hover {
  color: var(--color-primary);
}
  
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.project-link {
  text-decoration: none;
}
  
.project-item {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 8px;
  width: 265px;
  min-height: 280px;
  cursor: pointer;
  transition: transform 0.2s;
  margin-top: 15px;
  background-color: #1e1e1e;
  padding: 18px;
}
  
.project-item:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  border-radius: 4px;
  margin: 0px;
}

.project-text {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--color-primary);
}
  
.project-tag {
  font-size: 0.8rem;
  font-weight: 600;
  margin-right: 5px;
}
  
.project-title {
  font-size: 0.9rem;
  margin: 0;
  font-weight: 600;
  text-align: left;
}

.project-description {
  margin-top: 5px;
  height: 30px;
}

.project-description-text {
  margin: 0px;
  color: #cfcfcf;
  font-weight: 300;
  text-align: left;
}

.project-category {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}

.project-tag-technology {
  background-color: var(--background-tag-tecn);
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  color: var(--font-tag-tecn);
  font-weight: 600;
}


/* Responsivo para dispositivos menores */
@media (max-width: 768px) {
  #projects {
    padding: 2rem;
    margin-bottom: -20px;
  }
}