/* Espaço para variaveis de cores */

:root {
    --background-primary: #101010;
    --background-secondary: #ff8830;
    
    --background-footer: var(--background-primary);
    --background-header: #000000;

    --color-primary: #fff;
    --color-secundary: #333;
    --color-primary-hover: #ff6f00;

    
}